@import 'var.scss', 'mixin/functions', 'pages/header', 'pages/main', 'pages/footer';

body{
  font-family: 'Montserrat', sans-serif;

  * li{
    list-style-type: none;
  }

  * a{
    text-decoration: none;
    color: #ffffff;
  }
  * a:hover{
    text-decoration: none;
    color: $markerText;
  }
}