$fontColor: #ffffff;
$fontColorTitle: #18213d;
$fontColorText: #47506d;
$markerText: #44b8f4;

$backgroundNavbar: #182130;

$borderMenu: #00a2d2;

$buttonDetail: #002830;
$fontColorHoverDetail: #002830;
$hoverButtonDetail: #ffffff;
$buttonContact: #2ab5f6;
$borderButtonContact: #ffffff;
$fontColorHoverContact: #2ab5f6;

$backgoundredesocial: #2ab5f6;

$bgWelcome: linear-gradient(#4e34bc,#028edb);

$backgroundWhy: #e9f4f7;

$backgroundPhone: linear-gradient(to right, #571f9c , #1d79d8);
$phoneButtonBG: #2672d2;

$backgroundCarousel: #f2f5f7;
$selectorNavCarousel: #a996f0;

$hoverImage: #00a9da;
$ButtonViewMore: #2a85f6;

$backgroundPainel: linear-gradient(to right, #571f9c , #1d79d8);

$inputContact: #e9f4f7;
$buttonSubmit: #7d5ded;

$backgroundFooter: #003857;
$fontColorHoverSubscribe: #001825;

$backgroundBottomBar: #001825;