.header{
  padding: 1rem 0 1rem 0;
  @include for-pro-only{
    padding: 5px 5px 1px 5px;
  }
  img{
    margin-right: 6rem;
    @include for-phone-only{
      margin-right: 0;
    }
    @include for-tablet-only{
      margin-right: 0;
    }
    @include for-pro-only{
      margin-right: 0;
    }
  }
  @include for-phone-only{
    padding: 5rem 0rem 1rem 0rem;
    img{
      width: 100%;
    }
  }
  .navbar-custom{
    padding: 1rem 10% 1rem 10%;
    font-weight: 400;
    width: 100%;
    margin-top: 40px;
    transition-duration: .2s;
    @include for-phone-only{
      display: flex;
      font-size: .6rem;
      margin-top: 30px;
    }
    text-align: center;
    font-size: .7rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    @include for-phone-only{
      position: absolute;
      img{
        width: 100%;
        margin-left: 1.5rem;
      }
      button{
        margin-left: 7.5rem;
      }
    }
    @include for-tablet-only{
      position: fixed;
      margin-top: 0px;
      padding: 1rem 0 1rem 0;
      img{
        width: 80%;
      }
    }
    @include for-pro-only{
      position: fixed;
      margin-top: 0px;
      img{
        width: 95%;
        margin-left: -5rem;
        margin-right: 20rem;
      }
    }
  }
  .navbar-custom.active{
    padding: 1rem 10% 1rem 10%;
    font-weight: 400;
    width: 100%;
    margin-top: 0px;
    transition-duration: .2s;
    @include for-phone-only{
      display: flex;
      font-size: .6rem;
      margin-top: 30px;
    }
    text-align: center;
    font-size: .7rem;
    background-color: $backgroundNavbar;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    @include for-phone-only{
      position: absolute;
      img{
        width: 100%;
        margin-left: 1.5rem;
      }
      button{
        margin-left: 7.5rem;
      }
    }
    @include for-tablet-only{
      position: fixed;
      img{
        width: 80%;
      }
      padding: 1rem 0 1rem 0;
    }
    @include for-pro-only{
      position: fixed;
      img{
        width: 95%;
        margin-left: -5rem;
        margin-right: 20rem;
      }
    }
  }
  
  .list-custom{
    @include for-tablet-only{
      padding-right: 5rem;
    }
    @include for-pro-only{
      padding-right: 5rem;
    }
    .link-custom{
      margin-left: .5rem;
      padding: 0 1rem 0 1rem;
      color: $fontColor;
      .title{
        color: $fontColor;
      }
      a{
        color: $fontColor;
      }
      :hover{
        border: 2px solid $borderMenu;
        color: $fontColor;
        border-radius: 3rem;
      }
      @include for-pro-only{
        padding: 0;
        font-size: .7rem;
        font-weight: bolder;
        width: 100%;
      }
      .first{
        margin-left: 485px;
        margin-top: -15px;
        @include for-phone-only{
          margin-left: 0px;
          margin-top: 0px;
        }
        @include for-tablet-only{
          margin-left: 0px;
          margin-top: 0px;
        }
        @include for-pro-only{
          margin-left: 360px;
          margin-top: -15px;
        }
      }
      .dropdown-menu{
        border-radius: 7px;
        .dropdown-select{
          color: $fontColorTitle;
          font-weight: 400;
          font-size: 13px;
        }
        .dropdown-select:hover{
          border: none;
          color: $markerText;
        }
      }
    }
    .link-custom:first-child{
      :hover{
        border: none;
      }
      border: 2px solid $borderMenu;
      border-radius: 3rem;
    }
  }
  .redesocial{
    @include for-phone-only{
      display: flex;
      margin-top: 5px;
      width: 100%;
      margin-left: 1rem;
    }
    align-items: center;
    display: flex;
    padding-left: 5rem;
    @include for-pro-only{
      padding-left: 2rem;
    }
    .rede{
      width: 30px;
      height: 30px;
      color: $fontColor;
      background-color: $backgoundredesocial;
      border-radius: 50px;
      padding: 9px 9px 9px 9px;
      margin-right: 9px;
      @include for-tablet-only{
        width: 27px;
        height: 27px;
        padding: 8px 8px 8px 8px;
      }
      @include for-pro-only{
        width: 27px;
        height: 27px;
        padding: 9px 9px 9px 9px;
      }
    }
  }
}